
.map-nav {
  margin-top: -1rem;
  max-height: calc(~"100vh - 54px");
  overflow-y: auto;
}

.map-container {
  margin-top: -0.5rem;
  height: calc(~"100vh - 54px");
  padding-right: 0;

  canvas {
    display: block;
  }
}