<div class="row">
  <div class="col-md-12">

    <div class="card" [style.background]="backgroundForPlayer()">
      <div class="card-block text-md-center">
        <h4 class="card-title">
          {{ player.nameEdit || player.name }}<span *ngIf="player.title">, the {{ player.title }}</span> <span *ngIf="player.hasDonated" tooltip="Donator!" tooltipPlacement="bottom"><i fa icon="star"></i><i fa icon="star"></i><i fa icon="star"></i></span>
        </h4>
        <em *ngIf="!player.isOnline"><small>Last logged in {{ player.lastLogin | date:'medium' }}</small></em>

        <p>Level <span *ngIf="player.ascensionLevel > 0">{{ player.ascensionLevel }}<i fa icon="star"></i></span>{{ player._level.__current }} {{ player.gender }} {{ player.professionName }} currently located in {{ player.map }} ({{ player.mapRegion }})</p>
        <p>Has {{ player.gold.toLocaleString() }} gold</p>
        <p>XP: {{ player._xp.__current.toLocaleString() }}/{{ player._xp.maximum.toLocaleString() }}</p>
        <p>Joined {{ player.joinDate | date:'medium' }}</p>
      </div>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-2">

    <div class="card">
      <div class="card-block text-md-center">
        <h4 class="card-title">
          HP
        </h4>

        <p>{{ player._hp.maximum.toLocaleString() }}</p>
      </div>
    </div>

  </div>
  <div class="col-md-2">

    <div class="card">
      <div class="card-block text-md-center">
        <h4 class="card-title">
          MP
        </h4>

        <p>{{ player._mp.maximum.toLocaleString() }}</p>
      </div>
    </div>

  </div>

  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-2" *ngFor="let stat of baseStats">

    <div class="card">
      <div class="card-block text-md-center">
        <h4 class="card-title">
          {{ stat.toUpperCase() }}
        </h4>

        <p>{{ player.statCache[stat].toLocaleString() }}</p>
      </div>
    </div>

  </div>
</div>