<nav class="navbar navbar-static-top navbar-light bg-faded m-b-1">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
    ☰
  </button>
  <div class="collapse navbar-toggleable-xs" id="navbar-header">
    <a class="navbar-brand pointer" [routerLink]="['/']">IdleLands Global</a>

    <ul class="nav navbar-nav">

      <li class="nav-item" [class.active]="hasActiveRoute('players')">
        <a class="nav-link" [routerLink]="['/players']">
          Players
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('pets')">
        <a class="nav-link" [routerLink]="['/pets']">
          Pets
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('guilds')">
        <a class="nav-link" [routerLink]="['/guilds']">
          Guilds
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('maps')">
        <a class="nav-link" [routerLink]="['/maps']">
          Maps
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('leaderboard')">
        <a class="nav-link" [routerLink]="['/leaderboard']">
          Leaderboard
        </a>
      </li>

      <li class="nav-item" [class.active]="hasActiveRoute('statistics')">
        <a class="nav-link" [routerLink]="['/statistics']">
          Statistics
        </a>
      </li>
    </ul>

  </div>
</nav>